@layer reset, base, overrides;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: local("Inter"),
      url("../fonts/Inter-VariableFont_slnt,wght.woff2")
        format("woff2-variations");
    // src: url("../fonts/Nunito-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 400 700;
    font-variation-settings: "slnt" 0 -10;
    font-feature-settings: "liga" 1, "calt" 1;
    unicode-range: U+0020-007F, U+00A0-00FF;
  }
}

.focus-ring {
  @apply focus-visible:outline-none focus-visible:ring-1 ring-primary-500 ring-offset-2;
}
* {
  min-width: 0;
}
body {
  min-width: var(--min-w-80);
}
a {
  cursor: pointer;
}
.markdown {
  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-bold);
    line-height: 1.2;
    margin-block: 1em;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  a {
    color: var(--color-gold-500);

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 1px solid var(--color-gray-200);
    margin-block: var(--h-12);
  }

  p + p {
    margin-top: var(--m-3);
  }
  p + ul {
    margin-top: var(--m-3);
  }

  ul {
    list-style: disc;
    padding-left: var(--p-5);
  }

  ol {
    list-style: decimal;
    padding-left: var(--p-5);
  }

  @media (max-width: 767px) {
    h1 {
      font-size: var(--text-3xl);
    }

    h2 {
      font-size: var(--text-2xl);
    }

    h3 {
      font-size: var(--text-1xl);
    }

    h4 {
      font-size: var(--text-lg);
    }
  }
}

span,
label,
p {
  a[target="_blank"]:after {
    content: "\00a0\2197";
  }
}
.text-shadow {
  text-shadow: 0 5px 15px var(--tw-shadow-color, black);
}

[data-floating-label="true"] {
  --left: var(--p-4);
  --right: var(--p-4);
  --y: -50%;
  --x: 0;
  --scale: 1;
  .formkit-input {
    padding-top: calc(var(--p-4) * 1.5);
    padding-bottom: calc(var(--p-4) * 0.5);
    // padding-left: var(--left);
    // padding-right: var(--right);
    &::placeholder {
      opacity: 0;
    }
  }
  .formkit-label {
    // pointer-events: none;
    background-color: transparent !important;
    font-weight: 500 !important;
    font-size: var(--text-base) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform-origin: 0;
    cursor: text;
    // top: var(--top) !important;
    left: var(--left) !important;
    // height: 100%;
    // position: relative;
    width: calc((100% - var(--left) - var(--right)) / var(--scale));
    transform: scale(var(--scale)) translateY(var(--y)) !important;
  }

  & input:focus ~ .formkit-label,
  & textarea:focus ~ .formkit-label,
  &:not([data-empty="true"]) .formkit-label,
  &[data-expanded="true"] .formkit-label {
    --y: 50%;
    --scale: 0.7;
  }

  &[data-prefix-icon="true"] {
    --left: calc(-0.25em + 44px);
    & input:focus ~ .formkit-label,
    & textarea:focus ~ .formkit-label,
    &:not([data-empty="true"]) .formkit-label,
    &[data-expanded="true"] .formkit-label {
      left: var(--left) !important;
    }
  }
  &[data-suffix-icon="true"]:not(.hidden-suffix) {
    --right: calc(-0.25em + 44px);
  }
  // button ~ .formkit-label {
  //   --top: 25%;
  // }
  // button.active ~ .formkit-label,
  // input:focus ~ .formkit-label,
  // textarea:focus ~ .formkit-label,
  // .formkit-label[data-has-value="true"],
  // &[data-complete="true"] .formkit-label {
  //   --top: 25%;
  // }
  //   textarea ~ .formkit-label {
  //     white-space: pre-wrap;
  //   }
  //   textarea:focus ~ .formkit-label,
  //   textarea ~ .formkit-label[data-has-value="true"],
  //   &[data-complete="true"] textarea ~ .formkit-label {
  //     --top: -0.5em;
  //     white-space: nowrap;
  //   }
  //   button ~ .formkit-label[data-has-value="true"],
  //   &[data-complete="true"] button ~ .formkit-label {
  //     --top: 0em;
  //   }
}
