@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--font-bold);
    line-height: 1.2;
    margin-block: 1em;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  a {
    color: var(--color-gold-500);

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border: 1px solid var(--color-gray-200);
    margin-block: var(--h-12);
  }

  p + p {
    margin-top: var(--m-3);
  }
  p + ul {
    margin-top: var(--m-3);
  }

  ul {
    list-style: disc;
    padding-left: var(--p-5);
  }

  ol {
    list-style: decimal;
    padding-left: var(--p-5);
  }

  @media (max-width: 767px) {
    h1 {
      font-size: var(--text-3xl);
    }

    h2 {
      font-size: var(--text-2xl);
    }

    h3 {
      font-size: var(--text-1xl);
    }

    h4 {
      font-size: var(--text-lg);
    }
  }
}

span, label, p {
  a[target="_blank"]:after {
    content: "\00a0\2197";
  }
}
.text-shadow {
  text-shadow: 0 5px 15px var(--tw-shadow-color, black);
}


[data-floating-label="true"] {
  .formkit-input {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    &::placeholder {
      opacity: 0;
    }
  }
  .formkit-label {
    --top: 1.125em;
    --left: 1em;
    --right: 0.5em;
    --scale: 1;
    pointer-events: none;
    padding: 0 !important;
    font-size: 0.875em !important;
    font-weight: 500 !important;
    top: var(--top) !important;
    left: var(--left) !important;
    transform-origin: 0;
    user-select: none;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    width: calc((100% - var(--left) - var(--right)) * 1 / var(--scale) );
    transform: scale(var(--scale)) !important;
    background-color: transparent !important;
    cursor: text;
  }
  button ~ .formkit-label {
    --top: 0.875em;
  }
  button.active ~ .formkit-label,
  input:focus ~ .formkit-label,
  textarea:focus ~ .formkit-label,
  .formkit-label[data-has-value="true"],
  &[data-complete="true"] .formkit-label {
    --scale: 0.75;
    --top: 0.25em;
  }
  textarea ~ .formkit-label {
    white-space: pre-wrap;
  }
  textarea:focus ~ .formkit-label,
  textarea ~ .formkit-label[data-has-value="true"],
  &[data-complete="true"] textarea ~ .formkit-label {
    --top: -0.5em;
    white-space: nowrap;
  }
  button ~ .formkit-label[data-has-value="true"],
  &[data-complete="true"] button ~ .formkit-label {
    --top: 0em;
  }
  &[data-prefix-icon="true"] {
    .formkit-label {
      --left: 2.8em;
    }
    .formkit-input {
      margin-left: calc(-1.8em + 1px);
      padding-left: 2.8em;
    }
  }
  &[data-suffix-icon="true"]:not(.hidden-suffix) {
    .formkit-label {
      --right: 2.8em;
    }
    .formkit-input {
      margin-right: calc(-1.8em + 1px);
      padding-right: 2.8em;
    }
  }
}