.list-container,
/* apply transition to moving elements */
.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all var(--transition-duration-1000, 300ms) cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.list-leave-active {
  transition-delay: calc(100ms * (1 - var(--i, 1)));
  transition-duration: var(--transition-duration-75, 75ms);
}

.list-enter-active {
  transition-delay: calc(calc(300ms / var(--total, 1000)) * var(--i, 1) + 100ms);
}

.list-move {
  transition-delay: calc(calc(200ms / var(--total, 1000)) * var(--i, 1));
}

.list-leave-active {
  position: absolute;
}



/* 1. declare transition */
.page-move,
.page-enter-active,
.page-leave-active {
  transition-duration: var(--transition-duration-50, 50ms);
  transition-property: opacity, transform;
  transition-delay: calc(50ms * (var(--total, 1) - var(--i, 1)));
}

/* 2. declare enter from and leave to state */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform-origin: 50% 0;
}

.page-enter-from {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.page-leave-to {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.slide-in-move,
.slide-in-enter-active,
.slide-in-leave-active {
  transition-duration: var(--transition-duration-1000, 1250ms);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-property: opacity, transform;
}

.slide-in-enter-from,
.slide-in-leave-to {
  opacity: 0;
  transform: translateY(2%);
}

.move-container,
/* apply transition to moving elements */
.move-move,
/* apply transition to moving elements */
.move-enter-active,
.move-leave-active {
  transition-duration: var(--transition-duration-1000, 1250ms);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: opacity, transform;
}

.move-enter-from {
  opacity: 0;
  transform: scale(0.9) translateY(-10%);
}

/* .move-enter-active {
  animation: flip-in 500ms;
} */
.move-leave-to {
  opacity: 0;
  transform: scale(1.1) translateY(50%);
  /* animation: flip-out 500ms; */
}


.dropdown-move,
.dropdown-enter-active,
.dropdown-leave-active {
  transition-duration: var(--transition-duration-100, 100ms);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-property: opacity, transform;
  transform-origin: 0 0;
}
.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
  transform: scaleY(0.5);
}
.move-up-move,
.move-up-enter-active,
.move-up-leave-active {
  transition-duration: var(--duration, var(--transition-duration-500, 500ms));
  transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
  transition-property: opacity, transform;
  transform-origin: 0 0;
}
.move-up-enter-from,
.move-up-leave-to {
  opacity: 0;
  transform: translateY(1em);
}
.move-up-leave-to {
  transition-duration: var(--transition-duration-250, 250ms);
}

@keyframes flip-in {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.5);
    z-index: 99;
    opacity: 0;
  }

  50% {
    transform: translate(-10%, 10%) rotate(5deg) scale(1);
    z-index: 0;
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    z-index: 0;
    opacity: 1;
  }
}

@keyframes flip-out {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    z-index: 99;
    opacity: 1;
  }

  50% {
    transform: translate(10%, -100%) rotate(10deg) scale(1);
    z-index: 0;
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) rotate(0deg) scale(0.9);
    z-index: 0;
    opacity: 0;
  }
}

.move-leave-active {
  transition-duration: var(--transition-duration-1000, 100ms);
}

.move-leave-active {
  position: absolute;
}

.transition-hide {
  opacity: 0;
  transform: translateY(-20px) scale(0.9);
  transition: var(--transition-duration-1000, 100ms) cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transition-show {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: var(--transition-duration-1000, 100ms) cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: calc(100ms * (var(--total, 1) - var(--i, 1)));
}

.spin {
  animation: spin 0.875s infinite cubic-bezier(0.9, 0.3, 0.3, 0.7);
}

@keyframes spin {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(340deg);
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  transition-property: opacity, scale;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  scale: 0.99;
}
.popup-enter-active,
.popup-enter-active .content {
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
  transition-property: opacity, scale;
}
.popup-leave-active,
.popup-leave-active .content {
  transition: 0.2s cubic-bezier(1, 0, 0, 0);
  transition-property: opacity, scale;
}

.popup-enter-from,
.popup-leave-to {
  opacity: 0;
}
.popup-enter-from .content,
.popup-leave-to .content {
  scale: 0.95;
}


.new-list-move, /* apply transition to moving elements */
.new-list-enter-active,
.new-list-leave-active {
  transition: all 0.5s ease-in-out;
}

.new-list-enter-from,
.new-list-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.new-list-leave-active {
  position: absolute;
}